{% require_css %}
<style>
  .header {
    background-color: var(--header-background-color);
    {% if module.style.header_background_color.enable %}
    background-color: rgba({{ module.style.header_background_color.header_background_color.color|convert_rgb }}, {{ module.style.header_background_color.header_background_color.opacity/100 }});
    {{ module.style.header_background_color.header_border.css }};
    {% endif %}
  }
  .header-right .btn-primary {
      background-color: rgba({{ module.style.button_primary_background_color.color|convert_rgb }}, {{ module.style.button_primary_background_color.opacity/100 }});
      border-color: rgba({{ module.style.button_primary_border_color.color|convert_rgb }}, {{ module.style.button_primary_border_color.opacity/100 }});
      color: rgba({{ module.style.button_text_color.color|convert_rgb }}, {{ module.style.button_text_color.opacity/100 }});
    }
  .header-right .btn-secondary-hover:hover {
      background-color: rgba({{ module.style.button_primary_hover_background_color.color|convert_rgb }}, {{ module.style.button_primary_hover_background_color.opacity/100 }});
      border-color: rgba({{ module.style.button_primary_hover_border_color.color|convert_rgb }}, {{ module.style.button_primary_hover_border_color.opacity/100 }});
      color: rgba({{ module.style.button_hover_text_color.color|convert_rgb }}, {{ module.style.button_hover_text_color.opacity/100 }});
    }
  .header-right .btn-light-outline {
      background-color: transparent;
      border-color: rgba({{ module.style.button_light_outline_border_color.color|convert_rgb }}, {{ module.style.button_light_outline_border_color.opacity/100 }});
      color: rgba({{ module.style.button_text_color.color|convert_rgb }}, {{ module.style.button_text_color.opacity/100 }});
    }
  .header-right .btn-primary-hover:hover {
      background-color: rgba({{ module.style.button_light_outline_hover_background_color.color|convert_rgb }}, {{ module.style.button_light_outline_hover_background_color.opacity/100 }});
      border-color: rgba({{ module.style.button_light_outline_hover_border_color.color|convert_rgb }}, {{ module.style.button_light_outline_hover_border_color.opacity/100 }});
      color: rgba({{ module.style.button_outline_text_hover_color.color|convert_rgb }}, {{ module.style.button_outline_text_hover_color.opacity/100 }});
    }
  
  
  
</style>
{% end_require_css %}



<div class="header header-fluid header-sticky">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-2 col-auto d-flex justify-content-center">
                    <!-- Header Left Start -->
                    <div class="header-center">
                        <div class="header-logo">
                          {% set loadingAttr = module.logo.loading != 'disabled' ? '{{ module.logo.loading }}' : '' %}

                            {% logo
                              override_inherited_src="{{ module.logo.override_inherited_src }}"
                              src="{{ module.logo.src }}"
                              alt="{{ module.logo.alt }}"
                              width="{{ module.logo.width }}"
                              height="{{ module.logo.height }}"
                              loading="{{ loadingAttr }}"
                              suppress_company_name="{{ module.logo.suppress_company_name }}"
                            %}
                        </div>
                    </div>
                    <!-- Header Left End -->
                </div>
                <div class="col-xl-5 col-auto d-flex justify-content-end">
                    <!-- Header Right Start -->
                    <div class="header-right">
                      
                      <!-- Header language Start -->
                     <div class="header-language">
                          <div class="language language-white">
                            {% if content.translated_content.values()|selectattr('published')|length || is_listing_view && group.translations %}
                              <div class="header__language-switcher header--element">
                                  {% language_switcher label='Language switcher', display_mode='localized', no_wrapper=True %}
                                  <div class="header__language-switcher--label-current"> {{ locale_name(locale) }}</div>
                              </div>
                            {% endif %}
                       </div>
                        </div>
                        <!-- Header language End -->

                        

                        <!-- Header Button Start -->
                        {% set href = module.button_link.url.href %}
                          {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                            {% set href = "mailto:" + href %}
                          {% endif %}
                          <a class="btn {{ module.button_type }} {{ module.button_rounded }} {{ module.button_size }}" href="{{ href }}"
                            {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
                            {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
                            >
                            {{ module.button_text }}
                          </a>
                        <!-- Header Button End -->

                    </div>
                    <!-- Header Right End -->
                </div>
            </div>
        </div>
    </div>
