/* Footer Top Section Style */
.footer-top-section {
    background-color: var(--footer-bg-color);
    padding: 100px 0;
    position: relative;
    z-index: 1;
  }
  @media only screen and (max-width: 767px) {
    .footer-top-section {
      padding: 60px 0;
    }
  }
  .footer-top-section .shape {
    position: absolute;
    z-index: 1;
  }
  .footer-top-section .shape.shape-1 {
    top: 100px;
    left: 110px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1549px) {
    .footer-top-section .shape.shape-1 {
      top: 60px;
      left: 30px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-top-section .shape.shape-1 {
      top: 40px;
      left: 20px;
    }
    .footer-top-section .shape.shape-1 img {
      width: 70px;
    }
  }
  @media only screen and (max-width: 767px) {
    .footer-top-section .shape.shape-1 {
      top: 20px;
      left: 20px;
    }
    .footer-top-section .shape.shape-1 img {
      width: 70px;
    }
  }
  .footer-top-section .shape.shape-2 {
    bottom: 130px;
    right: 210px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1549px) {
    .footer-top-section .shape.shape-2 {
      bottom: 50px;
      right: 100px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-top-section .shape.shape-2 {
      bottom: 30px;
      right: 50px;
    }
    .footer-top-section .shape.shape-2 img {
      width: 70px;
    }
  }
  @media only screen and (max-width: 767px) {
    .footer-top-section .shape.shape-2 {
      bottom: 20px;
      right: 30px;
    }
    .footer-top-section .shape.shape-2 img {
      width: 70px;
    }
  }
  .footer-top-section .shape.shape-3 {
    top: 60px;
    right: 30%;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-top-section .shape.shape-3 {
      top: 30px;
      right: 30%;
    }
  }
  @media only screen and (max-width: 767px) {
    .footer-top-section .shape.shape-3 {
      top: 20px;
      right: 80px;
    }
  }
  .footer-top-section .shape.shape-4 {
    bottom: 60px;
    right: 50%;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-top-section .shape.shape-4 {
      bottom: 30px;
      right: 40%;
    }
  }
  @media only screen and (max-width: 767px) {
    .footer-top-section .shape.shape-4 {
      bottom: 30px;
      left: 80px;
    }
  }
  
  /* Footer Widget Wrapper Style */
  .footer-widget-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
    gap: 40px 0;
  }
  .footer-widget-wrapper > .col {
    flex: 0 0;
    max-width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
    .footer-widget-wrapper > .col {
      flex: 1 0 50%;
      max-width: 50%;
    }
  }
  @media only screen and (max-width: 575px) {
    .footer-widget-wrapper > .col {
      flex: 1 0 auto;
      max-width: 100%;
    }
  }
  @media only screen and (max-width: 479px) {
    .footer-widget-wrapper > .col {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
  
  /* Footer Widget Style */
  .footer-widget {
    white-space: nowrap;
  }
  .footer-widget .footer-logo {
    margin-bottom: 25px;
  }
  .footer-widget h3 {
    margin-bottom: 25px;
    color: var(--light-color);
  }
  .footer-widget p {
    color: var(--footer-link-color);
  }
  .footer-widget p:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-widget .contact-info li {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  .footer-widget .contact-info li + li {
    margin-top: 15px;
  }
  .footer-widget .contact-info li svg {
    width: 18px;
    height: 18px;
  }
.footer-widget .contact-info li svg path{
  fill: currentColor;
  stroke: currentColor;
}
  .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
  }
  .footer-widget ul li + li {
    margin-top: 15px;
  }
  .footer-widget ul li a {
    color: var(--footer-link-color);
    display: block;
  }
  .footer-widget ul li a:hover {
    color: var(--footer-link-hover-color);
  }
  
  /* Footer Bottom Section Style */
  .footer-bottom-section {
    background-color: var(--footer-bottom-bg-color);
    padding: 20px 0;
  }
  
  
  @media only screen and (max-width: 767px) {
    .footer-copyright {
      margin-bottom: 20px;
    }
  }
  .footer-copyright p {
    line-height: 30px;
    text-transform: capitalize;
  }
  .footer-copyright p a {
    color: var(--primary-color);
  }
  
  .social-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -25px;
  }
  .social-item li a {
    margin-right: 25px;
    color: var(--footer-link-color);
  }
  .social-item li a svg {
    width: 16px;
    height: 16px;
    line-height: 1;
    display: block;
  }
  .social-item li a svg path{
    fill: currentColor;
    stroke: currentColor;
  }
  
