.newsletter-form{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-form h3 {
	margin-bottom: 0;
}
.newsletter-form form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: 0;
}
.newsletter-form form .hs-form-field{
  margin-bottom: 0px;
  flex: 1 0 0;
}
.newsletter-form form .hs_email{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter-form form label{
  display: none;
}

.newsletter-form form .hs-button{
  padding: 13px 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .newsletter-form {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .newsletter-form form {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .newsletter-form form {
    flex-direction: column;
    gap: 15px 0;
  }
  .newsletter-form form input {
    text-align: left;
  }
}