.team {
  position: relative;
}
.team .thumb {
  position: relative;
}
.team .thumb img {
  width: 100%;
}
.team .content {
  position: relative;
  margin-top: -60px;
  margin-left: 50px;
  margin-right: 30px;
  padding: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  box-shadow: 0 20px 50px 0 rgba(26, 46, 85, 0.1);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .team .content {
    margin-left: 26px;
    margin-right: 20px;
    padding: 20px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team .content {
    padding: 20px 15px;
  }
}

@media only screen and (max-width: 575px) {
  .team .content {
    margin-left: 50px;
    margin-right: 30px;
    padding: 25px 12px;
  }
}
.team .content .share-icon {
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.team .content .share-icon .toggle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  display: inline-block;
  transition: var(--transition);
  text-align: center;
  color: var(--light-color);
  border-radius: 50%;
}
.team .content .share-icon .toggle svg {
  width: 18px;
  height: 18px;
}
.team .content .share-icon .toggle svg path{
  fill: currentColor;
  stroke: currentColor;
}
.team .content .share-icon .list {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  width: auto;
  padding: 0 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: var(--transition);
  transform: translateY(-9px);
  white-space: nowrap;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06);
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.06));
}
.team .content .share-icon .list::before {
  position: absolute;
  top: 100%;
  right: 15px;
  content: "";
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.team .content .share-icon .list a {
  display: flex;
  padding: 10px 12px;
  color: var(--light-color);
}
.team .content .share-icon .list a svg{
  width: 18px;
  height: 18px;
}
.team .content .share-icon .list a svg path{
  fill: currentColor;
  stroke: currentColor;
}
.team .content .share-icon .list a:hover svg{
  color: var(--light-color);
}
.team .content .share-icon:hover .list {
  visibility: visible;
  opacity: 1;
}
.team .content .info {
  flex: 0 0 auto;
}
.team .content .info h3 {
  margin-bottom: 5px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .team .content .info h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 575px) {
  .team .content .info h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 575px) {
  .team .content .info p {
    font-size: 16px;
  }
}

	
