/*****************************************/
/* System Page CSS Start   */
/*****************************************/

/* ======== 5.6 Error 404 CSS ========*/
/* Section Spacing */
.clearfix{
    float: left;
    width: 100%;
  }
  .hs-form-field ul li{
    list-style: none;
  }
  .section-padding {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-padding {
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }
    
    @media only screen and (max-width: 767px) {
      .section-padding {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
    .error-page {
      text-align: center;
    }
  
    .error-page .title{
      font-size: 200px;
      line-height: 1.3;
      margin-bottom: 15px;
    }
  
    .error-page .link-btn-wrap{
      margin-top: 15px;
    }
    @media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
      .error-page .title{
        font-size: 120px;
        line-height: 1.3;
      }
    }
  
  .btn-wrap{
    margin-top : 20px;
  }
  
   /* ======== Backup Unsubscribe CSS ========*/
    .backup-unsubscribe{
      text-align: center;
    }
  
    .backup-unsubscribe .hs-input{
      width: 100%;
      margin: 0 auto !important; 
    }
  
  
  /* ======== Backup Unsubscribe CSS ========*/
    .membership-login{
      margin: 0 auto;
    }
  
    .membership-login h2, .membership-login p{
      text-align: left;
    }
  
    .membership-login .form-container {
      text-align: left;
    }

.membership-login .hs-form-field label{
  display: inline-block;
}
  
    .membership-login .form-container .hs-input, .membership-login .form-container input{
      width: 100%;
      margin-bottom: 20px;
    }
    .membership-login .form-container input{
      margin-top: 10px;
    }
    .membership-login .form-container .hs-input[type=checkbox]{
      width: auto !important;
      height: auto !important;
    }
    .membership-login .form-container .hs-submit{
      float: right;
    }
  
    .systems-page--search-results, .subscription-preferences, .subscription-confirmation{
      margin: auto;
    }
    .systems-page--search-results{
      text-align: center;
    }
  
  
  .password-prompt{
    margin-top: 20px;
  }
  
  .subscription-preferences .header, .email-prefs .header {
    position: relative;
  }
.subscription-preferences p {
      margin-bottom: 15px;
  }
  