{% require_css %}
<style>
  {% scope_css %}
  
  {% if module.style.feature_icon_border.overwrite %}
  .features-list .features-box .icon {
    border-radius: {{ module.style.feature_icon_border.value }}%;
    {{ module.style.feature_icon_border.icon_border.css }}
  }
  {% endif %}
  .features-list .features-box {
    background-color: rgba({{ module.style.color_field.feature_icon_background_color.color|convert_rgb }}, {{ module.style.color_field.feature_icon_background_color.opacity/100 }});
  }
  .features-list .features-box:hover .icon {
    background-color: rgba({{ module.style.color_field.feature_icon_background_hover_color.color|convert_rgb }}, {{ module.style.color_field.feature_icon_background_hover_color.opacity/100 }});
  }
  .features-list .features-box .icon svg{
    color: rgba({{ module.style.color_field.feature_icon_color.color|convert_rgb }}, {{ module.style.color_field.feature_icon_color.opacity/100 }});
  }
  .features-list .features-box:hover .icon svg{
    color: rgba({{ module.style.color_field.feature_icon_hover_color.color|convert_rgb }}, {{ module.style.color_field.feature_icon_hover_color.opacity/100 }});
  }
  .features-list .features-box .content {
    {% if module.style.alignment.alignment =='left' %}text-align: left;{% endif %}
    {% if module.style.alignment.alignment =='center'%}text-align: center;{% endif %}
    {% if module.style.alignment.alignment =='right'%}text-align: right;{% endif %}
  }
  
  {% end_scope_css %}
 </style>
{% end_require_css %}


<div class="features-list">
  {% for item in module.feature_list_item %}
  <!-- Feature Box Start -->
  <div class="features-box" data-vivus-hover>
    <div class="icon">
      {% if item.icon_image.src %}
        {% set sizeAttrs = 'width="{{ item.icon_image.width }}" height="{{ item.icon_image.height }}"' %}
        {% if item.icon_image.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.icon_image.width }}" height="{{ item.icon_image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif item.icon_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.icon_image.max_width }}" height="{{ item.icon_image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
         {% set loadingAttr = item.icon_image.loading != 'disabled' ? 'loading="{{ item.icon_image.loading }}"' : '' %}
        <img class="svgInject" src="{{ item.icon_image.src }}" alt="{{ item.icon_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </div>
    <div class="content">
      {{ item.feature_title }}
      {{ item.excerpt }}
    </div>
  </div>
  <!-- Feature Box End -->
  {% endfor %}
</div>