/* Responsive grid */

.row-fluid {
  width: 100%;
}

.row-fluid:before, .row-fluid:after {
  display: table;
  content: '';
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*='span'] {
  display: block;
  float: left;
  width: 100%;
  min-height: 0;
  margin-left: 2.127659574%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.row-fluid [class*='span'] {
  margin-left: 0 !important;
}

.row-fluid [class*='span']:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 100%;
}

.row-fluid .span11 {
  width: 91.6666666667%;
}

.row-fluid .span10 {
  width:  83.3333333333%;
}

.row-fluid .span9 {
  width: 75%;
}

.row-fluid .span8 {
  width: 66.6666666667%;
}

.row-fluid .span7 {
  width: 58.3333333333%;
}

.row-fluid .span6 {
  width: 50%;
}

.row-fluid .span5 {
  width: 41.6666666667%;
}

.row-fluid .span4 {
  width: 33.3333333333%;
}

.row-fluid .span3 {
  width: 25%;
}

.row-fluid .span2 {
  width: 16.6666666667%;
}

.row-fluid .span1 {
  width: 8.3333333333%;
}

.container-fluid:before, .container-fluid:after {
  display: table;
  content: '';
}

.container-fluid:after {
  clear: both;
}

@media (max-width: 767px) {
  .row-fluid {
    width: 100%;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .row-fluid {
    max-width: 100%;
    width: 100%;
  }

  .row-fluid:before, .row-fluid:after {
    display: table;
    content: '';
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: left;
    width: 100%;
    min-height: 0;
    margin-left: 2.762430939%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row-fluid [class*='span']:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    width: 100%;
  }

  .row-fluid .span11 {
    width: 91.6666666667%;
  }

  .row-fluid .span10 {
    width: 83.3333333333%;
  }

  .row-fluid .span9 {
    width: 75%;
  }

  .row-fluid .span8 {
    width: 66.6666666667%;
  }

  .row-fluid .span7 {
    width: 58.3333333333%;
  }

  .row-fluid .span6 {
    width: 50%
  }

  .row-fluid .span5 {
    width: 50%;
  }

  .row-fluid .span4 {
    width: 33.3333333333%;
  }

  .row-fluid .span3 {
    width: 25%;
  }

  .row-fluid .span2 {
    width: 16.6666666667%;
  }

  .row-fluid .span1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1280px) {
  .row-fluid {
    width: 100%;
  }

  .row-fluid:before, .row-fluid:after {
    display: table;
    content: '';
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: left;
    width: 100%;
    min-height: 0;
    margin-left: 2.564102564%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*='span'] {
    margin-left: 0 !important;
  }

  .row-fluid [class*='span']:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    width: 100%;
  }

  .row-fluid .span11 {
    width: 91.6666666667%;
  }

  .row-fluid .span10 {
    width: 83.3333333333%;
  }

  .row-fluid .span9 {
    width: 75%;
  }

  .row-fluid .span8 {
    width: 66.6666666667%;
  }

  .row-fluid .span7 {
    width: 58.3333333333%;
  }

  .row-fluid .span6 {
    width: 50%;
  }

  .row-fluid .span5 {
    width: 41.6666666667%;
  }

  .row-fluid .span4 {
    width: 33.3333333333%;
  }

  .row-fluid .span3 {
    width: 25%;
  }

  .row-fluid .span2 {
    width: 16.6666666667%;
  }

  .row-fluid .span1 {
    width: 8.3333333333%;
  }
}
/* Custom Responsive CSS */
@media (min-width: 992px) and (max-width: 1199px) {
  .feature-section .row-fluid > .span4{
    width: 50%;
  }

}
@media (min-width: 768px) and (max-width: 991px) {
  .about-section .row-fluid > .span6{
    width: 100%;
  }
  .feature-section .row-fluid > .span4{
    width: 50%;
  }
  .team-section .row-fluid > .span4{
    width: 50%;
  }
  .contact-info-section .row-fluid > .span4{
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {

  
}

/* Clearfix */

.clearfix:before, .clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

/* Visibilty classes */

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Responsive visibilty classes */

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1139px) {
  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}