.blog-pagination {
  margin-top: 60px;
}
.blog-pagination ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 13px;
}
.blog-pagination ul li a {
  font-size: var(--body-font-size);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

      