/* Brand CSS */
.brand-grid-wrap {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brand-grid-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .brand-grid-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 479px) {
  .brand-grid-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
.brand-grid-wrap .single-brand {
  padding: 30px 0;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  text-align: center;
  transition: var(--transition);
}
.brand-grid-wrap .single-brand:hover img {
  filter: brightness(0) invert(1);
}