.gallery-item {
  position: relative;
}
.gallery-item .gallery-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.gallery-item .gallery-thumb::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: var(--transition);
  opacity: 0;
}
.gallery-item .gallery-thumb img {
  width: 100%;
  transition: var(--transition);
}
.gallery-item .gallery-popup-btn {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  height: 70px;
  width: 70px;
  line-height: 68px;
  text-align: center;
  cursor: pointer;
  z-index: 99;
}
.gallery-item .gallery-popup-btn svg {
  width: 20px;
  height: 20px;
}
.gallery-item .gallery-popup-btn svg path {
	fill: currentColor;
	stroke: currentColor;
}
@media only screen and (max-width: 767px) {
  .gallery-item .gallery-popup-btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
.gallery-item:hover .gallery-thumb::before {
  opacity: 1;
}
.gallery-item:hover .gallery-thumb img {
  transform: scale(1.1);
}
.gallery-item:hover .gallery-popup-btn {
  top: 50%;
  opacity: 1;
}
