.service-form h3, .contact-form h3 {
	margin-bottom: 0;
}
.service-form form, .contact-form form{
  text-align: center;
}
.service-form form label, .contact-form form label{
  display: inline-block;
  text-align: left;
}
.service-form fieldset textarea, .contact-form fieldset textarea {
  width: 100% !important;
  margin-bottom: 30px;
}